@model Fochso.Models.News.CreateNewsViewModel
@{
    ViewData["Title"] = "Add News";
}

<div class="body">

    @await Html.PartialAsync("_NoModelAlert")

    <div class="row">
        <div class="col-md-6">
            <hr />
            <form asp-action="create" enctype="multipart/form-data">
                @*<input type="hidden" class="form-control" asp-for="Id" value="@c" />*@

                <div class="col-md-12 mb-2">
                    <label for="Title" class="form-label">Title:</label>
                    <textarea class="form-control" placeholder="Enter Title" asp-for="Title"></textarea>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-md-12 mb-2">
                    <label for="Description" class="form-label">Content:</label>
                    <textarea class="form-control" placeholder="Enter Description" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col-md-12 mb-2">
                    <label for="photo" class="form-label">Image:</label>
                  <input type="file" name="photo" asp-for="ImagePath" class="form-control" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Add News</button>
                </div>
            </form>
        </div>
    </div>

</div>